/* :root {

} */

* {
    margin: 0 auto;
}


.search, .main{
    border: 5px solid blue;
}

.search-section,  .current {
    border: 5px solid green;
}

.top-current, .bottom-current, .forecast-cards {
    border: 5px solid lightgreen;
}

.current-title, #current-time, #current-date, .daynight, .current-info, .cards {
    border: 5px solid yellow;
}

.current-degree-icon, .sunset-sunrise, .high-low, .info-box, .forecast-date, .forecast-temp, .forecast-wind, .forecast-humidity {
    border: 5px solid orange;
}



main {
    border: 5px solid black;
    display: flex;
    padding: 1rem;
}

aside {
    padding: 1rem;
}

.search-history {
    border-top: 2px solid black;
}

.forecast-cards {
    display: flex;
}